{% extends "layout.html" %}

{% block body %}
<h3 style="text-align: center;">Instruments</h3>
<div class="container">
    <div class="row">
        <div class="col-x2-12">
            <a href="/add">Add Instrument</a>
        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>price</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for e in instruments %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.name }}</td>
                    <td>$  {{ e.price }}</td>
                    <td>
                        <a href='/edit/{{ e.id }}']>Edit</a> |
                        <a href="/delete/{{ e.id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        
    </div>
        </div>  
</div>

{% endblock %}